<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhanqiTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E091368F1D1144AD0051A651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E09136A81D1144AD0051A651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E09136B31D1144AD0051A651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
