<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerHeight</key>
		<string>0.001</string>
		<key>row</key>
		<array>
			<dict>
				<key>rowHeight</key>
				<string>164.</string>
				<key>cellClass</key>
				<string>MineHeaderTableCell</string>
				<key>disSelected</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>row</key>
		<array>
			<dict>
				<key>cellAction</key>
				<string>dailyTask</string>
				<key>accessory</key>
				<true/>
				<key>image</key>
				<string>Mine_dailyTask</string>
				<key>title</key>
				<string>每日任务</string>
			</dict>
			<dict>
				<key>cellAction</key>
				<string>mySubscription</string>
				<key>accessory</key>
				<true/>
				<key>image</key>
				<string>Mine_mySubscription</string>
				<key>title</key>
				<string>我的订阅</string>
			</dict>
			<dict>
				<key>cellAction</key>
				<string>startedRemind</string>
				<key>accessory</key>
				<true/>
				<key>image</key>
				<string>Mine_startedRemind</string>
				<key>title</key>
				<string>开播提醒</string>
			</dict>
			<dict>
				<key>cellAction</key>
				<string>watchHistory</string>
				<key>accessory</key>
				<true/>
				<key>image</key>
				<string>Mine_watchHistory</string>
				<key>title</key>
				<string>观看历史</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>row</key>
		<array>
			<dict>
				<key>cellAction</key>
				<string>directMessages</string>
				<key>accessory</key>
				<true/>
				<key>title</key>
				<string>私信</string>
				<key>image</key>
				<string>Mine_directMessages</string>
			</dict>
			<dict>
				<key>cellAction</key>
				<string>officialAnnouncement</string>
				<key>accessory</key>
				<true/>
				<key>title</key>
				<string>官方公告</string>
				<key>image</key>
				<string>Mine_officialAnnouncement</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
